@import "tailwindcss";

@theme {
  --font-google: "Google Sans", sans-serif;
  --font-blackops: "Black Ops One";
}

*{
    font-family: var(--font-google)
}
.logo{
    font-family: var(--font-blackops)
}